apiVersion: v1
kind: Service
metadata:
  name: inventory-service
spec:
  selector:
    app: inventory-service
  ports:
    - port: 9090
      targetPort: 9090
      protocol: TCP
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
  labels:
    app: inventory-service
spec:
  replicas: 3
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
      - name: inventory-service
        image: swr.cn-north-4.myhuaweicloud.com/itau-demo/inventory-service:0.0.1
        ports:
        - containerPort: 9090
        resources:
          limits:
            memory: "2Gi"
            cpu: "2000m"
          requests:
            memory: "1Gi"
            cpu: "1000m"
        env:
          - name: DB_HOST_AND_PORT
            value: http://172.16.0.248:80
          - name: DB_USERNAME
            value: rwuser
          - name: DB_PASSWORD
            value: Huawei@#123
          - name: DMS_HOST_AND_PORT
            value: 172.16.0.46:9092,172.16.0.191:9092,172.16.0.138:9092
          - name: DMS_TOPIC
            value: topic-inventory
          - name: DMS_PARTITION
            value: "0"
      imagePullSecrets:
      - name: default-secret

